@model HandleErrorInfo

@{
    ViewBag.Title = "Stránka nenalezena/Page not found";
}

<div class="error">
    <p class="error">Omlouváme se, ale tato stránka neexistuje. Prosím zkontrolujte adresu odkazu ve Vašem prohlížeči.</p>
    <p class="error">Sorry, this page does not exist. Please check your link URL address in your browser.</p>
</div>
