@model HandleErrorInfo

@{
    ViewBag.Title = "Přístup odmítnut/Access denied";
}

<div class="error">
    <p class="error">Na prohlížení této stránky nemáte oprávnění. Prosím kontaktujte tým CLA.</p>
    <p class="error">You are not allowed to view this page. Please contact CLA team.</p>
</div>
