@model int

@{
    ViewBag.Title = "Chyba/Error";
}

<div class="error">
    <p class="error">Během zpracování Vašeho požadavku došlo k chybě. Prosím kontaktujte tým CLA.</p>
    <p class="error">An error occurred while processing your request. Please contact CLA team.</p>
</div>
