@{
    ViewBag.Title = "Rozesílání aktuálních úkolů";
}

<h1>@ViewBag.Title</h1>

<p>
    Process rozesílání aktuálních úkolů uživatelů byl zahájen. Pokud nastala chyba během zpracování, objevíte ji v log souboru.
</p>
