@{
    ViewBag.Title = "Úkoly v intervalu hodiny.";
}

<h1>@ViewBag.Title</h1>

<p>
    Processy v intervalu jedné hodiny byly zahájeny. Pokud nastala chyba během zpracování, objevíte ji v log souboru.
</p>

<dl>
    <dt>Procesy:</dt>
    <dd>
        <ul>
            <li>Import bankovních transakcí,</li>
            <li>Zpracování bankovních transakcí,</li>
            <li>Zpracování plateb za přístup,</li>
            <li>Kontrola expirace rezervací,</li>
            <li>Obnova TOP10 funkcí,</li>
            <li>Expirace Video tokens,</li>
            <li>Odeslání zpožděných mailů.</li>
        </ul>
    </dd>
</dl>