@{
    ViewBag.Title = "Úkoly v intervalu dne.";
}

<h1>@ViewBag.Title</h1>

<p>
    Processy v intervalu jednoho dne byly zahájeny. Pokud nastala chyba během zpracování, objevíte ji v log souboru.
</p>

<dl>
    <dt>Procesy:</dt>
    <dd>
        <ul>
            <li>Občerstvení statistik,</li>
            <li>Pročištění archivních akcí.</li>
        </ul>
    </dd>
</dl>